body {
  height: 100%;
  background-repeat: no-repeat;
  background-color: rgb(222, 220, 214);
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Courier New", Courier, monospace;
}

.no-scroll {
  overflow: hidden;
}

.profile {
  display: flex;
  flex-direction: column;
  background-color: #ffffffb0;
  padding: 20px;
  border-radius: 20px;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card1,
.card2 {
  width: 45%;
  margin: 10px;
  border-radius: 20px;
}

.card2 {
  background-color: rgb(197, 165, 183);
}

.card1 {
  background-color: #709baacd;
}

.card1 img {
  width: 60%;
  border-radius: 20px;
}

.card2 img {
  width: 30%;
  border-radius: 50%;
  margin-left: 0%;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile h1 {
  font-family: "Tahoma", sans-serif;
  color: white;
  text-align: center;
}

.idCard p {
  font-weight: 500;
}

.idCard {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: normal;
}

.profile p {
  display: flex;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  font-size: 20px;
  color: white;
}

.cuteCharm,
.intimidate,
.keenEye {
  max-width: 100%;
  border-radius: 20%;
}

.cuteCharm {
  background-color: rgba(249, 120, 165, 0.572);
}

.intimidate {
  background-color: rgba(87, 87, 87, 0.52);
}

.keenEye {
  background-color: rgba(135, 59, 202, 0.529);
}

.swipe {
  color: black;
  font-size: 24px;
  font-weight: 1000;
  /*   padding-bottom: 10px; */
  padding: 10px;
  text-align: center;
}

.column {
  display: flex;
  justify-content: center;
  width: 25%;
}

.column img {
  width: 35%;
  opacity: 0.8;
  cursor: pointer;
  border-radius: 10%;
  transition: all 1s ease;
}

.column img:hover {
  opacity: 1;
  transform: scale(1.1);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.imageContainer {
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

.closebtn {
  position: absolute;
  right: 20%;
  color: white;
  font-size: 50px;
  cursor: pointer;
  font-weight: bolder;
}

.expandedImgContainer #expandedImg {
  width: 70%;
  display: block;
  margin: auto;
  border-radius: 5%;
  user-select: none;
}

.expandedImgContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: none;
  width: 50%;
}

.blurred {
  filter: blur(2px); /* Apply blur to the image container */
  pointer-events: none; /* Disable interactions with the image container */
}

.prev,
.next {
  position: absolute;
  top: 40%;
  color: white;
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}

.prev {
  left: 10%;
}

.next {
  right: 10%;
}

.previewContainer {
  position: relative;
  width: 50%;
  max-width: 300px;
}

/* the overlay effect */
.overlay {
  opacity: 0;
  position: absolute;
  transition: 0.5s ease;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

/* When you mouse over the container, fade in the overlay title */
.column img:hover + .overlay {
  opacity: 1;
}

/* Responsive styles for smaller screens */
@media only screen and (max-width: 768px) {
  .cards {
    flex-direction: column;
  }

  .profile p {
    padding: 10px;
    font-size: 16px;
  }
}
